*{
	margin: 0px;
	padding: 0px;
 
}
body{
	background-color: darkslategrey;

}
.btn{
	border-radius: 50px;
	margin: 5px;
}
.btn:hover{
	color: orange;
	background: green;
}
span{
	font-weight: bold;
	font-family: sans-serif;
}
.container{
	
  padding: 20px;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);

}